In [ ]:
import pandas as pd
import mysql.connector as msql
from mysql.connector import Error

In [ ]:
products= pd.read_csv('amazon_products.csv')

In [ ]:
products.drop(columns=['imgUrl','productURL'],inplace=True)

In [ ]:
products.dropna(inplace=True)

In [ ]:
try: 
    conn = msql.connect(host='localhost', database='amazon', user='root', password='Ab123456@') 
    if conn.is_connected(): 
        cursor = conn.cursor() 
        cursor.execute("select database();") 
        record = cursor.fetchone() 
        print("You're connected to database: ", record) 
        cursor.execute('DROP TABLE IF EXISTS amazon_products;') 
        #print('Creating table....') # in the below line please pass the create table statement which you want #to create 
        cursor.execute("CREATE TABLE amazon_products(asin varchar(255),title varchar(1000),stars varchar(10),reviews varchar(255),price varchar(255),listPrice varchar(255),category_id varchar(255),isBestSeller varchar(10),boughtInLastMonth varchar(255))") 
        print("Table is created....") #loop through the data frame 
        for i,row in products.iterrows(): #here %S means string values 
            sql = "INSERT INTO amazon_products VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)" 
            cursor.execute(sql, tuple(row)) 
            # the connection is not auto committed by default, so we must commit to save our changes 
            conn.commit()
        print("Records inserted") 
except Error as e: print("Error while connecting to MySQL", e)

In [ ]:
categories = pd.read_csv('amazon_categories.csv')

In [ ]:
try: 
    conn = msql.connect(host='localhost', database='amazon', user='root', password='Ab123456@') 
    if conn.is_connected(): 
        cursor = conn.cursor()
        cursor.execute("select database();") 
        record = cursor.fetchone() 
        print("You're connected to database: ", record) 
        cursor.execute('DROP TABLE IF EXISTS amazon_categories;')
        cursor.execute("CREATE TABLE amazon_categories(id varchar(10),category_name varchar(255))") 
        print("Table is created....") #loop through the data frame 
        for i,row in categories.iterrows(): #here %S means string values 
            sql = "INSERT INTO amazon_categories VALUES (%s,%s)" 
            cursor.execute(sql, tuple(row)) 
            # the connection is not auto committed by default, so we must commit to save our changes 
            conn.commit()
        print("Records inserted") 
except Error as e: print("Error while connecting to MySQL", e)